body{

    background-color: rgba(6, 39, 224, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
width: 400px;
height: 600px;
border:none;
border-radius: 10px;
display: flex;
flex-direction: column;
}
.nome{
margin-top: 20px;
margin-left: 20px;
height: 20px;
width: 193px;
border-top:none;
border-left: none;
border-right: none;
border-bottom: 1px solid black;
}
.divnasc{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 20px;
margin-left: 20px;
}
.divsexo{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-top: 20px;
 margin-left: 20px;
}
.ddd{
    margin-top: 20px;
    margin-left: 20px;  
width: 40px;
border-top:none;
border-left: none;
border-right: none;
border-bottom: 1px solid black;
}
.numtel{
width: 145px;
border-top:none;
border-left: none;
border-right: none;
border-bottom: 1px solid black;

}
.rua{
    margin-top: 20px;
    margin-left: 20px;
width: 193px;
border-top:none;
border-left: none;
border-right: none;
border-bottom: 1px solid black;
}
.numerores{
border-top:none;
border-left: none;
border-right: none;
border-bottom: 1px solid black;
width: 100px;
margin-left: 15px;
}
.complemento{
    margin-top: 20px;
    margin-left: 20px;
    width: 193px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.bairro{
    margin-top: 20px;
    margin-left: 20px;
    width: 193px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.cidade{
    margin-top: 20px;
    margin-left: 20px;
    width: 193px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.estado{
    margin-top: 20px;
    margin-left: 20px;
    width: 193px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.cep{
margin-top: 20px;
    margin-left: 20px;
    width: 115px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.cadastrar{
width: 150px;
height: 30px;
border: 1px solid white;
border-radius: 10px;
background-color:rgba(43, 69, 214, 0.904);
color: aliceblue;
cursor:pointer;
}
.divcadastrar{
    display: flex;
justify-content: center;
width:100%;
}

.cadastrar:hover{
font-weight:bold;
background-color:rgb(37, 69, 255);
border: 1px solid black;
transition:.4s ease-in-out;
box-shadow: 5px 3px 3px 5px rgb(116, 113, 113);
}

.voltar{

width: 390px;
height: 40px;
}

.voltar img{
margin-left: 20px;
width: 50px;
height:50px;

}